<div class="profile-professional">
   <h5 class="font-weight-bold">Perfil profesional</h5>
   <p>El doctor Juan Pablo Riveros tiene más de 25 años de experiencia como Cardiólogo
      e Internista, su énfasis ha sido la prevención y el tratamiento de todo tipo de
      enfermedades cardiovasculares y metabólicas como la diabetes, el sobrepeso y los
      factores de riesgo asociados.
   </p>
</div>

