<div class="profile-info">
    <div class="profile-info__avatar"> 
        <img src="../../../../assets/img/provider-female.jpg" class="img-fluid rounded-circle" alt="profile picture">
    </div>
    <h3 class="profile-info__name">Dra. Maria José Domingez</h3>
    <p class="profile-info__position">Especialista en Pediatría</p>
    <div class="profile-info__score"> 
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
    </div>
    <div class="profile-info__location">
        <i class="fa fa-map-marker" aria-hidden="true"></i> Cl. 123 #7-60 Edificio Medical Center
    </div>
</div>
