@import '../../../../styles.scss';

.profile-info {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 1rem;
   @include e(avatar) {
      width: 5.5rem;
      height: 5.5rem;
      margin-bottom: 1rem;
   }
   @include e(name){
      font-size: 1.2rem;
      color: var(--purple);
      text-decoration: underline;
      font-weight: 700;
   }
   @include e(position){
      font-weight: 500;
      font-size: .95rem;
      margin-bottom: .4rem;
   }
   @include e(score){
      margin-bottom: .4rem;
      span {
         color: var(--info);
         margin: 0 .2rem;
      }
   }
   @include e(location){
      font-size: .9rem;
      font-weight: 300;
   }

}