@import '../../../../styles.scss';

.profile-availability {
   display: flex;
   justify-content: space-between;
   align-items: center;
   @include e(time) {
      color: var(--purple);
      font-size: .85rem;
      display: flex;
      align-items: center;
      .is-visible-sm{
         @include mq-up(md) {
            display: none;
         }
      }
      .is-visible-md{
         display: none;
         @include mq-up(md) {
            display: block;
         }
      }
   }
}