<div class="profile-availability">
   <div class="profile-availability__time">
      <i class="fa fa-clock-o mr-1" aria-hidden="true"></i> 
      <span class="is-visible-sm">
         <strong> Hoy :</strong> Mar, 11 de sep
      </span>
      <span class="is-visible-md">
         <strong> Disponible hoy :</strong> Martes, 11 de septiembre 
      </span>
   </div>
   <button class="btn btn-info rounded-pill px-3">
      Pedir cita <i class="fa fa-angle-right" aria-hidden="true"></i> 
   </button>
</div>
