@import '../../../../styles.scss';

.profile-specialties {
   margin-bottom: 1.5rem;
   margin-top: 1rem;
   display: flex;
   flex-wrap: wrap;
   @include e(specialties) {
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      .specialtie {
         background: #e2e2e2;
         margin-right: .5rem;
         margin-bottom: .5rem;
         padding: .7em 1em;
         font-size: .78rem;
         border-radius: 25px;
         font-weight: 500;
      }
   }
}