<div class="profile-specialties">
   <h5 class="font-weight-bold">Especialidades</h5>
   <div class="profile-specialties__specialties">
      <span class="specialtie">Cirugía cardiovascular</span>
      <span class="specialtie">Electrocardiograma</span>
      <span class="specialtie">Hipertensión</span>
      <span class="specialtie">Insuficiencia cardíaca</span>
   </div>
</div>