<div class="profile">
   <div class="profile__content">
      <app-information class="information"></app-information>
      <app-professional class="personal"></app-professional>
      <app-specialties class="specialties"></app-specialties>
   </div>
   <div class="profile__footer">
      <app-availability class="availability"></app-availability>
   </div>
</div>