
@import '../../../styles.scss';

.profile {
   background: #fff;
   display: flex;
   flex-direction: column;
   margin: 2rem 0;
   box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.19);
   @include e(content) {
      padding: 3rem 2rem 2rem;
      @include mq-up(md) {
         display: grid;
         grid-template-columns: repeat(5, 1fr);
         grid-template-rows: repeat(1, 1fr);
      }
      .information { 
         grid-column: 1 / 3;
         grid-row: 1 / 3;
      }
      .personal,
      .specialties { 
         display: none;
         @include mq-up(sm) {
            display: block;
            grid-column: 3 / span 3;
         }
      }
   }
   @include e(footer) {
      border-top: 1px solid #eee;
      padding: 0.6rem 1rem;
      @include mq-up(md) {
         padding: .6rem 2rem;
         display: grid;
         grid-template-columns: repeat(5, 1fr);
      }
      .availability { 
         grid-column: 3 / span 3;
      }
   }
}